/**
 * Owl Carousel dots style start
**/

.owl-dots {
	text-align                 : center;
	-webkit-tap-highlight-color: transparent
}

.owl-dots {
	margin-top: 30px
}

.owl-dots .owl-dot {
	display: inline-block;
	zoom   : 2
}

.owl-dots .owl-dot span {
	width        : 14px;
	height       : 14px;
	margin       : 8px 10px;
	background   : rgb(255, 218, 251);
	display      : block;
	transition   : opacity .3s ease;
	border-radius: 35px
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
	background: #d097ff;
}

/**
 * Owl Carousel dots style end
**/

/**
 * Owl Carousel button style start
**/

.owl-button-wrapper {
	position: relative;
}

.js-prev,
.js-next {
	position  : absolute;
	background: none;
	color     : black;
	top       : 50%;
	opacity   : 0.6;
	transition: opacity .2s ease-in-out;
}

.js-prev:hover,
.js-next:hover {
	opacity: 1;
}

.js-prev {
	left: 2px;
}

.js-next {
	right: 2px;
}



/**
 * Owl Carousel button style end
**/